DATABASE_URL="postgresql://your-username:your-server-password@hostname/database_name" // username is postgres by default if your using PgAdmin4, hostname can also be localhost: 5432 if your using PgAdmin4, and database_name is the name of the database you created for this project in PgAdmin4.
REDDIT_CLIENT_ID="your-reddit-id"
REDDIT_CLIENT_SECRET="your-reddit-secret"
GEMINI_API_KEY="your-google-gemini-key" // You can get this from aistudio.google.com, create a new project, enable Gemini API, and create an API key.
TELEGRAM_BOT_TOKEN="your-bot-token" // BotFather will give you this token when you create a new bot.
TELEGRAM_CHAT_ID="your-chat-or-channel-id" // You can get this by sending a message to your bot and then visiting https://api.telegram.org/bot<YourBOTToken>/getUpdates, look for the "chat" object and find the "id" field.